body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

.header {
  background: #1e293b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #334155;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.section {
  padding: 20px;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}
