css- body{

margin:0;
font-family:Montserrat;
background:linear-gradient(135deg,#0f0f0f,#1a1a1a);
color:white;

}


.header{

background:black;
padding:15px;
display:flex;
justify-content:space-between;

}


.dashboard{

padding:30px;
max-width:1200px;
margin:auto;

}


.cards{

display:flex;
gap:20px;
margin-bottom:30px;

}


.card{

flex:1;
padding:40px;
text-align:center;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border-radius:15px;
cursor:pointer;
transition:0.3s;

}

.card:hover{

background:#ff8c00;
transform:scale(1.05);

}


.glass{

background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:20px;
margin-bottom:20px;
border-radius:15px;

}


input{

display:block;
margin:10px 0;
padding:10px;
background:#111;
border:none;
color:white;

}


button{

padding:10px 20px;
background:#ff8c00;
border:none;
color:white;
cursor:pointer;

}


table{

width:100%;
border-collapse:collapse;

}


th{

background:#222;
color:#ff8c00;
padding:10px;

}


td{

padding:10px;
border-bottom:1px solid #333;
text-align:center;

}


.popup{

position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.7);
display:none;
justify-content:center;
align-items:center;

}


.popupBox{

background:#111;
padding:20px;
border-radius:10px;

}
