body{
margin:0;
font-family:system-ui;
background:#111;
color:white;
}

.header{
background:black;
padding:15px;
display:flex;
justify-content:space-between;
}

.logout{
background:orange;
border:none;
padding:8px 12px;
}

.container{
padding:30px;
}

.box{
background:#1a1a1a;
padding:15px;
margin-top:20px;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
}

th{
background:#222;
color:orange;
}

.present{
color:#00e676;
}

.absent{
color:#ff5252;
}

.holiday{
color:yellow;
}
