*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(to bottom,#fdfdfd,#eef6ff);
}

/* HEADER */
header{
background:#0a0a0a;
padding:15px 40px;
}

.header-container{
display:flex;
align-items:center;
justify-content:space-between;
}

.logo{
width:75px;
}

.partner-logo{
width:140px;
}

.company-text{
flex:1;
text-align:center;
color:white;
}

.company-text h1{
font-size:20px;
}

.company-text p{
color:#f4c542;
font-size:13px;
}

/* NAV */
nav{
background:#f4c542;
padding:12px;
text-align:center;
}

nav a{
margin:0 15px;
text-decoration:none;
font-weight:bold;
color:#000;
cursor:pointer;
}

/* HERO */
.hero{
background:url("solar-bg.jpg") center/cover no-repeat;
height:450px;
display:flex;
align-items:center;
justify-content:center;
}

.hero-overlay{
background:rgba(0,0,0,0.65);
padding:40px;
color:white;
text-align:center;
border-radius:10px;
}

.hero h2{
font-size:30px;
margin-bottom:10px;
}

.hero button{
padding:12px 25px;
background:#28a745;
color:white;
border:none;
margin-top:20px;
cursor:pointer;
border-radius:6px;
}

/* SECTION */
.section{
padding:70px 20px;
text-align:center;
}

.section h2{
margin-bottom:20px;
}

/* CARDS */
.card-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:30px;
}

.card{
background:white;
padding:25px;
width:260px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* FEATURES */
.features{
background:#111;
color:white;
padding:60px 20px;
text-align:center;
}

.features ul{
list-style:none;
margin-top:20px;
}

.features li{
margin:10px 0;
}

/* FOOTER */
footer{
background:#000;
color:white;
padding:25px;
text-align:center;
}

